<script lang="ts">
import Vue from 'vue';
import { SlpTooltip } from '~/components/common/index.vue';
import ChevronLg from '~/static/nuxt-images/ico/chevron-lg.vue';

export default Vue.extend({
  name: 'FeaturesComparisonList',
  components: {
    SlpTooltip,
    ChevronLg,
  },
  props: {
    data: {
      type: Object,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      showTooltip: false,
      isScrolling: false,
    };
  },
  mounted() {
    document.addEventListener('scroll', () => {
      this.isScrolling = true;

      if (window.scrollY < 5) {
        this.isScrolling = false;
      }
    });
  },
});
</script>

<template>
  <SlpContainer class="container slp-mt-md-32">
    <SlpColumn :cols="12" class="table">
      <SlpRow class="row row__sticky" :class="{ surface: isScrolling }">
        <SlpColumn :cols="6" class="row__sticky--column">
          <SlpTypography tag="h1" variant="heading1" class="column__title">{{
            data.title
          }}</SlpTypography>
          <SlpTypography tag="p" variant="body2">{{
            data.caveat
          }}</SlpTypography>
        </SlpColumn>
        <SlpColumn :cols="6" class="mobile-header">
          <SlpRow class="mobile-header__row">
            <SlpColumn v-for="plan in data.plans" :key="plan.name" :cols="2">
              <SlpTypography tag="h2" variant="heading3-mobile">{{
                plan.name
              }}</SlpTypography>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
        <SlpColumn
          v-for="plan in data.plans"
          :key="plan.name"
          class="column"
          :cols="2"
        >
          <SlpTypography tag="h2" variant="heading4">{{
            plan.name
          }}</SlpTypography>
          <SlpTypography tag="h3" variant="body1">{{
            plan.price
          }}</SlpTypography>
          <SlpTypography tag="p" variant="body3" class="slp-mb-16">{{
            plan.description
          }}</SlpTypography>
          <SlpButton :href="plan.button_href" :variant="plan.button_variant">
            <SlpTypography tag="span" variant="body2-bold">
              {{ plan.button_text }}
            </SlpTypography>
            <ChevronLg direction="right"
          /></SlpButton>
        </SlpColumn>
      </SlpRow>

      <SlpRow v-for="section in data.blocks" :key="section.title" class="row">
        <SlpColumn :cols="12" class="table__section">
          <SlpTypography
            tag="h4"
            variant="heading4"
            class="table__section--title"
            >{{ section.title }}</SlpTypography
          >
          <SlpRow
            v-for="feature in section.features"
            :key="feature.name"
            class="feature"
          >
            <SlpColumn :cols="6" class="feature__column--title">
              <SlpTooltip
                :text="feature.tooltip_text"
                class="feature__column--info-tip no-border"
              >
                <img
                  src="/nuxt-images/icons/info-tip.svg"
                  alt="Info tip icon"
                  @mouseover="showTooltip = true"
                  @mouseleave="showTooltip = false" /></SlpTooltip
              ><a :href="feature.button_href" :alt="feature.name">{{
                feature.name
              }}</a>
            </SlpColumn>
            <SlpColumn :cols="6" class="checks-container">
              <SlpRow class="checks">
                <SlpColumn
                  v-if="feature.plans.includes('free')"
                  class="check"
                  :cols="2"
                >
                  <img src="/nuxt-images/icons/checkmark.svg" alt="" />
                </SlpColumn>

                <SlpColumn
                  v-if="!feature.plans.includes('free')"
                  class="check"
                  :cols="2"
                >
                </SlpColumn>

                <SlpColumn
                  v-if="feature.plans.includes('premium')"
                  class="check"
                  :cols="2"
                >
                  <img src="/nuxt-images/icons/checkmark.svg" alt="" />
                </SlpColumn>

                <SlpColumn
                  v-if="!feature.plans.includes('premium')"
                  class="check"
                  :cols="2"
                >
                </SlpColumn>

                <SlpColumn
                  v-if="feature.plans.includes('ultimate')"
                  class="check"
                  :cols="2"
                >
                  <img src="/nuxt-images/icons/checkmark.svg" alt="" />
                </SlpColumn>

                <SlpColumn
                  v-if="!feature.plans.includes('ultimate')"
                  class="check"
                  :cols="2"
                >
                </SlpColumn>
              </SlpRow>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
      </SlpRow>
    </SlpColumn>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.container {
  min-width: 100vw;
  max-width: 100vw;

  overflow: visible;

  .table {
    position: relative;
    padding: 0 20%;

    @media (max-width: calc($breakpoint-md - 1px)) {
      padding: 0;
    }

    .row {
      padding: $spacing-32 0;

      @media (max-width: calc($breakpoint-md - 1px)) {
        display: flex;
        justify-content: space-around;
        margin: 0 -5%;
        align-items: center;
        padding: $spacing-8 0;
      }

      @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        margin: 0 -15vw;

        padding: 0;
      }

      &__sticky {
        position: sticky;
        top: 119px;
        background-color: white;
        z-index: 1000;
        margin: 0 -20vw;
        padding: $spacing-16 20vw;

        @media (max-width: calc($breakpoint-md - 1px)) {
          top: 115px;
          display: flex;
          justify-content: space-between;
          margin: 0 -5vw;
          padding: $spacing-16 $spacing-16 0 $spacing-16;

          &--column {
            max-width: 180px;
          }
        }

        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
          display: flex;
          justify-content: space-around;
          top: 80px;
          margin: 0 -20vw 0 -25vw;
          padding: $spacing-16 $spacing-16 $spacing-16 $spacing-64;

          &--column {
            max-width: 40%;
          }
        }
      }
    }

    .surface {
      box-shadow: 0px 24px 50px -16px #d1d0d3;
    }

    &__section {
      width: 100%;
      z-index: 100;

      &--title {
        margin: $spacing-16 0;
        padding: 0 $spacing-8;
      }

      .checks-container {
        @media (max-width: calc($breakpoint-md - 1px)) {
          display: flex;
          justify-content: right;
          max-width: 170px;
        }

        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
          max-width: 100%;
        }

        .checks {
          display: flex;
          justify-content: space-around;
          width: 100%;
          padding-right: 24px;

          @media (max-width: calc($breakpoint-md - 1px)) {
            justify-content: center;
            padding: 0;
          }

          @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            margin: 0;
            padding: 0;
            width: 100%;
            justify-content: space-evenly;
          }

          .check {
            display: flex;
            justify-content: center;
            width: 100%;

            @media (max-width: calc($breakpoint-md - 1px)) {
              padding: 0;
              margin: 0 $spacing-16;
              width: fit-content;
            }

            @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
              padding-left: 0;
              &:first-child {
                justify-content: flex-start;
                margin-left: -$spacing-32;
              }
            }
          }
        }
      }
    }

    .column {
      @media (max-width: calc($breakpoint-md - 1px)) {
        display: none;
      }

      @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        .slp-btn-tertiary {
          padding-left: 0;
          margin-left: -$spacing-8;
        }
      }

      &__title {
        font-size: $text-heading-3;
        line-height: $line-height-heading-3;

        h4 {
          @media (max-width: $breakpoint-lg) {
            font-size: $text-heading-3-mobile;
            line-height: $line-height-heading-3-mobile;
          }
        }
      }
    }

    .feature {
      min-height: 54px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @media (max-width: calc($breakpoint-md - 1px)) {
        text-align: left;
        width: 100%;
        justify-content: space-between;
      }

      &:nth-child(even) {
        background-color: $color-surface-100;
      }

      &__column {
        text-align: right;
        padding-right: $spacing-24;

        @media (max-width: calc($breakpoint-md - 1px)) {
          padding-right: 0;
        }

        &--info-tip {
          display: flex;
          justify-content: right;
          padding: 0 $spacing-8;
          cursor: pointer;
        }

        &--title {
          display: flex;
          align-items: center;
          justify-content: left;

          a {
            &:after {
              content: '→';
              opacity: 0;
              transition: 0.25s;
            }

            &:hover:after {
              opacity: 1;
            }

            @media (max-width: calc($breakpoint-md - 1px)) {
              margin: $spacing-16 0;
            }
          }

          @media (max-width: calc($breakpoint-md - 1px)) {
            max-width: 50%;
            padding-left: 4px;
          }
        }
      }
    }
  }

  .mobile-header {
    display: none;

    @media (max-width: calc($breakpoint-md - 1px)) {
      display: block;
      transform: rotate(270deg);

      &__row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & > * {
          border-bottom: 1px solid $color-accent-400;
          padding: $spacing-16 $spacing-32 $spacing-8 $spacing-16;
          margin: 0;
        }
      }
    }
  }
}
</style>
