<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'LaunchDarkly',
  props: {
    featureFlag: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      runExperiment: false,
    };
  },
  async beforeMount() {
    const queryParams = this.$route.query;

    if (queryParams['experiment-review-test'] === null) {
      this.runExperiment = true;
    } else if (queryParams['experiment-review-control'] === null) {
      this.runExperiment = false;
    } else {
      this.runExperiment = await this.$launchdarkly(this.featureFlag);
    }
  },
  mounted() {
    if (!(this.$slots.control && this.$slots.experiment)) {
      // eslint-disable-next-line no-console
      console.warn(
        `Must have 'control' and 'experiement' named slots in LaunchDarkly component in ${this.$parent.$options.name}`,
      );
    }
  },
});
</script>

<template>
  <client-only>
    <slot v-if="runExperiment" name="experiment"></slot>
    <slot v-else name="control"></slot>
  </client-only>
</template>
