<script lang="ts">
import Vue from 'vue';
import { capitalizeFirst } from '~/common/util';

export default Vue.extend({
  name: 'FeaturesMenu',
  props: {
    tabs: {
      type: Array,
      required: true,
      default: () => [],
    },
    defaultTab: {
      type: String,
      required: true,
    },
    dropdownLabel: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      underlineWidth: 0,
      sliceSize: 0,
      visibleSliceSize: 0,
      activeTabIndex: 0,
      selectedTab: capitalizeFirst(this.defaultTab),
    };
  },
  computed: {
    flatTabs() {
      return this.tabs.map((tab: any) => tab.text);
    },
  },
  watch: {
    $route(to) {
      this.$emit('tabChange', to.query.stage);
    },
  },
  mounted() {
    this.initUnderlinePosition();
  },
  methods: {
    setUnderlinePosition(index: number) {
      this.activeTabIndex = index;
      this.underlineWidth = this.sliceSize * index;
      this.selectedTab = (this.tabs as [any])[index].text;
    },
    initUnderlinePosition() {
      this.sliceSize = 100 / this.tabs.length;
      this.visibleSliceSize = 100 / this.tabs.length / 2;
      this.setUnderlinePosition(
        this.tabs.findIndex(
          (item: any) =>
            item.text.toLowerCase() === this.selectedTab.toLowerCase(),
        ),
      );
    },
    onUpdateMobileMenu(tab: string) {
      this.setUnderlinePosition(
        this.tabs.findIndex(
          (item: any) => item.text.toLowerCase() === tab.toLowerCase(),
        ),
      );
      this.$router.push({ path: '', query: { stage: tab.toLowerCase() } });
    },
  },
});
</script>

<template>
  <section data-aos="fade-right" data-aos-duration="800">
    <div class="features-menu">
      <div class="features-menu__list">
        <ul>
          <li v-for="(tab, index) of tabs" :key="`${tab.text}-${index}`">
            <router-link
              class="features-menu__item"
              exact-active-class="features-menu__item--active"
              :to="{ path: '', query: { stage: tab.text.toLowerCase() } }"
              @click.native="setUnderlinePosition(index)"
            >
              <img :src="tab.icon_url" :alt="tab.text + ' Icon'" />
              <SlpTypography
                class="features-menu__text"
                tag="span"
                variant="body2"
                >{{ tab.text }}
              </SlpTypography>
            </router-link>
          </li>
        </ul>
        <hr
          class="features-menu__slider"
          :style="{
            width: `${visibleSliceSize}%`,
            'margin-left': `${underlineWidth}%`,
          }"
        />
      </div>
      <SlpDropdown
        v-model="selectedTab"
        class="features-menu__mobile-dropdown"
        :options="flatTabs"
        name="mobileMenu"
        :dropdown-label="dropdownLabel"
        @mobileMenu="onUpdateMobileMenu"
      />
    </div>
  </section>
</template>

<style scoped lang="scss">
$menu-border: 2px solid $color-surface-200;

.features-menu {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-16;

  @media (min-width: $breakpoint-md) {
    margin-bottom: $spacing-96;
  }

  &__list {
    display: none;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    border-bottom: $menu-border;

    @media (min-width: $breakpoint-md) {
      display: flex;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  &__mobile-dropdown {
    display: flex;
    width: 100%;
    margin-bottom: $spacing-32;

    @media (min-width: $breakpoint-md) {
      display: none;
    }

    &:after {
      top: 12px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $spacing-16 $spacing-24 $spacing-16 0;
    min-width: 90px;
    cursor: pointer;
    transition: all 0.3s ease-in;

    @media (min-width: $breakpoint-lg) {
      min-width: 100px;
    }

    @media (min-width: $breakpoint-xl) {
      min-width: 110px;
    }

    &--active {
      .features-menu__text {
        color: $color-text-link-100;
      }
    }

    &:hover {
      text-decoration: none;
      filter: brightness(70%);

      .features-menu__text {
        color: $color-text-link-100;
      }
    }

    img {
      width: 24px;
      margin-bottom: $spacing-4;
    }
  }

  &__text {
    color: $color-text-300;
    font-weight: $font-weight-bold;
  }

  &__slider {
    height: 4px;
    margin: -2px;
    background: $color-text-link-100;
    border: none;
    transition: margin 0.5s cubic-bezier(0.93, 0.16, 0.64, 0.54);
  }
}
</style>
