<script lang="ts">
import Vue from 'vue';
import { cloneDeep } from 'lodash';
import FeaturesProductsCategoryCards from './features-product-category-cards.vue';
import { FEATURES_HOSTING } from '~/common/constants';

export default Vue.extend({
  name: 'FeaturesContent',
  components: {
    FeaturesProductsCategoryCards,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
    filter: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      filteredData: cloneDeep(this.data),
      showMissingFeatures: false,
    };
  },
  watch: {
    filter(newFilter: any) {
      this.processFilter(newFilter);
    },
  },
  beforeMount() {
    this.processFilter(this.filter);
  },
  methods: {
    processFilter(filter: any) {
      const clonedData = cloneDeep(this.data);

      this.filteredData = {
        ...clonedData,
        products_category: {
          ...clonedData.products_category,
          header: filter.category,
          products: this.filterMainFeatures(clonedData, filter),
        },
      };
    },
    filterMainFeatures(data: any, filter: any) {
      return data.products_category.products
        .filter(
          (item: any) =>
            item.categories.includes(filter.category) &&
            item.saas &&
            item.self_managed,
        )
        .map((item: any) => {
          const isSaas =
            item.saas.length > 0 && filter.hosting === FEATURES_HOSTING.saas;
          const isSelfManaged =
            item.self_managed.length > 0 &&
            filter.hosting === FEATURES_HOSTING.self_managed;
          const isFree =
            filter.plan === '' ||
            item.saas.includes(filter.plan) ||
            item.self_managed.includes(filter.plan);
          const isPremium =
            filter.plan === '' ||
            item.saas.includes(filter.plan) ||
            item.self_managed.includes(filter.plan);
          const isUltimate =
            filter.plan === '' ||
            item.saas.includes(filter.plan) ||
            item.self_managed.includes(filter.plan);

          const itemCopy = { ...item };
          itemCopy.with_opacity =
            !(filter.hosting === '' || isSaas || isSelfManaged) ||
            !isFree ||
            !isPremium ||
            !isUltimate;

          return itemCopy;
        });
    },
    scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    },
  },
});
</script>

<template>
  <section class="features-content">
    <FeaturesProductsCategoryCards
      class="features-content__products-category"
      :data="filteredData.products_category"
    />
    <slp-row class="slp-justify-content-center">
      <slp-button
        class="features-content__btn"
        variant="ghost"
        @click.native="scrollToTop"
        >Back to top</slp-button
      >
    </slp-row>
  </section>
</template>

<style scoped lang="scss">
.features-content {
  margin-bottom: $spacing-96;
  padding-left: $spacing-4;
  padding-right: $spacing-4;

  &__missing-features-button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: $color-text-link-100;
    font-size: $text-body-2;
    transition: all 0.5s ease;

    &:hover {
      filter: brightness(80%);
    }
  }

  &__products-category {
    padding: 0;
  }

  &__btn {
    color: inherit;
    font-weight: bold;
    transition: all 0.5s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
