<script lang="ts">
import Vue from 'vue';
import error404 from '~/components/error/404-error.vue';

export default Vue.extend({
  name: 'Error',
  props: {
    error: {
      type: Object,
      default: () => {},
      required: false,
    },
  },
  head() {
    let path;
    if (this.$route.path === '/') {
      path = 'https://about.gitlab.com/';
    } else if (this.$route.path.endsWith('/')) {
      path = `https://about.gitlab.com${this.$route.path}`;
    } else {
      path = `https://about.gitlab.com${this.$route.path}/`;
    }
    const title = '404 | GitLab';
    return {
      title,
      link: [
        {
          rel: 'canonical',
          href: path,
        },
      ],
    };
  },
  computed: {
    errorPage() {
      return error404;
    },
  },
});
</script>

<template>
  <component :is="errorPage" :error="error" />
</template>
